/*--------------------------------------------------------------
# sec-t
--------------------------------------------------------------*/
.sec-t {
	text-align: center;
  margin-bottom: 40px;
	h2 {
		font-size: 35px;
		font-weight: 700;
		background: linear-gradient(266.09deg, #9176ff -6.81%, #0896ea 94.02%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
     font-size: 30px;
    }
	}
  p{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    @media only screen and (max-width: 767px) {
     font-size: 16px;
     font-weight: 500;
    }
    @media only screen and (max-width: 482px) {
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
