@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');




$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$bg-nav-collapse:#000;
$primary-color: #7452BD;
$text-color: #fff;
$title-color:#fff;
// $background: linear-gradient(97.68deg, #7452BD 16.12%, #1A68FF 102.09%);
